	* {
    box-sizing: border-box;
		}

	div {
    display: block;
		}
	a {
	text-decoration: none;
	}
/* wrap */
   .wrap-container{
   width :100%;
   margin-top: 20px;
   margin-bottom: 20px;
   }
   .wrap-item-top, .wrap-item-bottom{
   display:inline-block;
   width: 19%;
   height: 190px;
   margin-left: 2px;
   margin-bottom: 6px;
   list-style-type: none;
   background-color: aqua;
   }

	.wrap-title{
	margin-top: 20px;
	margin-bottom: 20px;
	}
   .wrap {
   margin: auto;
   width:1000px;
   }
   
   .wrap-container span.sub-title{
   margin-left: 10px;
   }
   

  /*  employments style */
   .top-employments-container {
   width :100%;
   margin-top: 40px;
   margin-bottom: 50px;
   padding: 40px 0 50px;
   background: #f0f0f0;
   display: flex; 
   justify-content: center;
  }
  

.top-employments {
    height: 395px;
    background: #fff;
    border: 1px solid #ddd;
    margin-top: 13px;
}

.top-employments-container .in-24-hours:first-child, .top-employments-container .in-this-week:first-child {
    margin-left: 0;
}

.top-employments-container .in-24-hours, .top-employments-container .in-this-week {
    width: 330px;
    margin-left: 20px;
}

.items {
    flex: 1;
    padding: 15px 0;
 
}

 .item{
   height: 73px;
    padding: 0 40px;
    display: flex;
    align-items: center;
}
.item-number {
    width: 40px;
    font-size: 15px;
    color: #bbb;
    font-weight: 700;
}

 .item-detail {
    width: 208px;
}
.item-info {
    font-size: 13px;
    color: #777;
}
.item-name {
    font-size: 15px;
    color: #555;
    font-weight: 700;
}

.top-employments-container .title {
    font-size: 16px;
    color: #555;
}

 .question-link {
   width :100%;
   margin-top: 20px;
   margin-bottom: 30px;
   padding: 30px 0 40px;
   display: flex; 
   justify-content: center;
  }
 .question-link img{
  margin-left: auto; 
  margin-right: auto; 
  display: block;

  }

.question-link .sub-title{
   cursor: pointer;
   margin-top: 30px;
   text-decoration: none;
   text-align: center;
    width: 150px;
    height: 46px;
    line-height: 46px;
    font-size: 18px;
    background: #ff6813;
    color: #fff;
    border-radius: 4px;
   }
  .question-link .sub-title:hover{
   background-color: #79AFF2;
   }
  
  
  .footer-area {
    background: #3f4b5e;
    text-align: center;
    padding-top: 50px;
    height: 250px;
} 
   
 .footer-area .footer-content .about {
    margin-bottom: 10px;
    color: #ff6813;
}  

.footer-area .footer-content .social-media {
    margin-bottom: 25px;
}

.footer-area .footer-content .about a {
    color: #fff;
    text-decoration: none;
}
.footer-area .footer-content .info-list {
    font-size: 13px;
}

.footer-area .footer-content .info-list>div {
    color: #ff6813;
}

.footer-area .footer-content .info-list>div>span {
    display: inline-block;
    padding: 0 2px;
    letter-spacing: 1px;
    color: #fff;
}
  .admin-container {
    background: #3f4b5e;
    text-align: center;
    padding-top: 10px;
    height: 100px;
} 

 .admin-title a{
  	display: inline-block;
    margin-top: 10px;
    padding: 0 2px;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    
}

.answer-div {
	display:none;
	background-color: yellow;
	width: 600px;
	height: 800px; /* ³ªÁß¿¡ »©±â */
	position: absolute;
	top:700px;
	left: 50%;
	margin-left: -250px;
	border: solid 1px #d8d8d8;
	border-radius: 5px;
	padding-top: 35px;
	padding-bottom: 50px;
	
}

