
/* jobMain */
a{
text-decoration: none;
}
/* .menu-container{
background-color: white;
width: 250px;
height: 100%;
float: left;
}
.body-container{
width:1670px;
height:100%;
float: left;
}
.menu-container li{
list-style: none;
text-align: left;
}

.header-container{
background-color:#cccccc;
width: 100%;
height: 80px;
}
.job-menu{
padding: 10px;
margin-left:15px;
margin-right:15px;
border:solid 1px #DDD;
border-radius:10px;
background-color:white;
float: left;
}
#filtering-container{
position:absolute;
top: 100px;
left: 220px;
width: 390px;
height: 390px;
background: white;
padding: 30px;
border: 1px solid #d8d8d8;
display: none;
}
.filtering-smallcon{
float: left;
margin-left: 15px;
margin-right: 15px;
width: 100px;

}

.checkbox-div{

}
.filter-name{
border-bottom: 1px solid #d8d8d8;
padding-bottom: 10px;
margin-bottom: 10px;
}





jdetail

.jdetail-container{
	width: 100%;
	background-color: rgba( 0, 0, 0, 0.3 );
}
.jdetail-detail{
	background-color: white;
	width: 750px;
	height: 700px; �굹以묒뿉 鍮쇨린
	position: absolute;
	left: 50%;
	margin-left: -325px;
	border: solid 1px #d8d8d8;
	border-radius: 5px;
	padding-top: 35px;
	padding-bottom: 50px;
}
.detail-top{
	background-color: #ababab;
	width: 100%;
	text-align: center;
}
.detail-header{
	margin-top: 35px;
	margin-bottom: 35px;
	padding:10px;
	width: 653px;
	height: 142px;	
	background-color: white;
	border: solid 1px #d8d8d8;
	border-radius: 5px;
	display: inline-block;
	text-align: left;
}
.detail-self{
	width: 653px;
	margin-bottom: 35px;
	padding:10px;
	background-color: white;
	border: solid 1px #d8d8d8;
	border-radius: 5px;
	display: inline-block;
}
.x-btn{
	float:right;
	margin-top: -25px;
	margin-right: 10px;
}
.header-img{
width: 90px;
height: 140px;
float: left;
}
.header-content{
	float: left;
	margin-left: 10px;
}

.header-time{
	margin-bottom: 10px;
	font-size: 13px;
}
.header-link{
	margin-bottom: 10px;
}
.self-table{
	width: 100%;
}


 */

/* jobMain */



/* .main-tab {
    position: relative;
    height: calc(100% - 45px);
    min-width: 968px;
    overflow-y: auto;
    width: 100%;
    transition: width 0.5s;
} */

.calendar-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
   
}


.calendar-container .recruit-top {
    height: 60px;
    background: #fafafa;
    border-bottom: 1px solid #ddd;
}
.calendar-container .recruit-top .calendar-switch>div.active {
    color: #ff6813;
}

.calendar-container .recruit-top .calendar-switch>div:first-child {
    margin-right: 2px;
}
.calendar-container .recruit-top .calendar-switch>div {
    font-size: 15px;
    font-weight: 700;
    color: #999;
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding: 5px 7px;
    display: inline-block;
    background: #fff;
}

.calendar-container .recruit-top .calendar-switch>div:nth-child(2) {
    margin-left: 2px;
}


.calendar-container .recruit-top .calendar-filter {
   width: auto;/* calc(100% - 225px) */
    height: 100%;
    position: relative;
    display: flex;
	align-items: center;
    padding-left: 20px;
    float: left;
   
}
.calendar-container .recruit-top .calendar-switch {
    text-align: center;
    width: 225px;
    height: calc(100% - 30px);
    margin: 15px 0;
    border-right: 1px solid #ddd;
}
.calendar-container .recruit-top .calendar-switch, 
.calendar-container .recruit-top .calendar-filter {
    float: left;
}

.calendar-container .recruit-top .calendar-filter .calendar-filter-title {
    color: #999;
    font-weight: bold;
    font-size: 14px;
}

.calendar-container .recruit-top .calendar-filter .calendar-filter-title .calendar-filter-on-off {
    width: 32px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 10px;
    background: #fff;
    font-size: 11px;
}

.calendar-container .recruit-top .calendar-filter .toggle-calendar-option-buttons {
    color: #bbb;
    width: 120px;
    margin-left: 20px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    padding: 0 0 5px 5px;
}

.calendar-container .recruit-top .calendar-filter .toggle-calendar-option-buttons .caret {
    width: 9px;
    float: right;
    margin-top: 8px;
    margin-right: 2px;
}

.calendar-container .recruit-top .calendar-filter .toggle-calendar-option-buttons .reversed {
    width: 9px;
    border-top-width: 0;
    border-bottom: 4px solid;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.calendar-container .recruit-top .calendar-option {
    color: #999;
    position: absolute;
    background: #fff;
    z-index: 10;
    border: 1px solid #ddd;
    left: 50px;
    top: 50px;
    display: none;
}


.calendar-container .calendar-right-head .nav-search-bar {
    height: calc(100% - 42px);
    width: 100%;
    border-right: solid 1px #d8d8d8;
}

.calendar-container .recruit-top .calendar-option .calendar-option-header {
    height: 20px;
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
    background: #fafafa;
}

.calendar-container .recruit-top .calendar-option .calendar-option-header .description {
    display: block;
    margin: 0 auto;
    height: 18px;
}

.calendar-container .recruit-top .calendar-option img {
    vertical-align: middle;
    border: 0;
}


.calendar-container .recruit-top .calendar-option .calendar-option-header .close-button {
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
    opacity: 0.252;
}
.calendar-container .recruit-top .calendar-option .calendar-option-body {
    padding: 30px 20px;
}

.calendar-container .recruit-top .calendar-option .calendar-option-body>div {
    float: left;
    width: 130px;
    margin: 0 10px;
}

.calendar-container .recruit-top .calendar-option .calendar-option-body>div .filter-header {
    padding-bottom: 4px;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
}


.calendar-container .recruit-top .calendar-option .calendar-option-body label {
    display: block;
    cursor: pointer;
    user-select: none;
    font-weight: normal;
}

.calendar-container label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.calendar-container .recruit-top .calendar-option .calendar-option-body>div .filter-header .filter-header-left {
    display: inline-block;
}

.calendar-container input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
.calendar-container input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.calendar-container input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.calendar-container input {
    line-height: normal;
}
.calendar-container button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.calendar-container .recruit-top .calendar-option .calendar-option-body>div .filter-header .filter-head-right {
    display: inline;
    width: calc(100% - 13px);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    padding-bottom: 2px;
}




.calendar-container .recruit-top .calendar-option .calendar-option-body>div {
    float: left;
    width: 130px;
    margin: 0 10px;
}


.calendar-container .recruit-top .calendar-option .calendar-option-body>div .body {
    padding-top: 5px;
}

.calendar-container .recruit-bottom {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
}

.calendar-container element.style {
    width: calc((100% - 180px) - 17px);
}
.calendar-container .calendar-right-head {
    top: 0px;
    left: 180px;
    height: 70px;
    position: absolute;
    background: #f0f0f0;
    width: calc(100% - 180px);
    z-index: 1;
}

.calendar-container .calendar-right-head .nav-search-bar {
    height: calc(100% - 42px);
    width: 100%;
    border-right: solid 1px #d8d8d8;
}

.calendar-container .calendar-right-head .nav-search-bar .calendar-left-toggle {
    float: left;
    background: white;
    height: 100%;
    width: 16px;
    border-right: solid 1px #d8d8d8;
    line-height: 46px;
    cursor: pointer;
}
.calendar-container .calendar-right-head .nav-search-bar .calendar-nav {
    position: absolute;
    left: 50%;
    margin-left: -67px;
    padding: 10px;
    float: left;
    font-size: 21px;
}

.calendar-container .calendar-right-head .nav-search-bar .calendar-nav .prev, .calendar-container .calendar-right-head .nav-search-bar .calendar-nav .next {
    color: #999;
    cursor: pointer;
}

.calendar-container .calendar-right-head .nav-search-bar .calendar-nav .current {
    color: #ff6813;
    font-weight: 700;
}

.calendar-container .calendar-right-head .nav-search-bar .search {
    position: relative;
    padding: 10px;
    float: right;
}

.calendar-container .calendar-right-head .nav-search-bar .search>img {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 24px;
    margin: 0px;
}


.calendar-container .calendar-right-head .nav-search-bar .search input {
    font-size: 12px;
    height: 35px;
    width: 200px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    padding-left: 30px;
    margin: -3px -3px 0 0;
}

.calendar-container .calendar-right-head .nav-search-bar .add-schedule {
    background: #ff6813;
    float: left;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.calendar-container .calendar-right-head .dayname-container {
    position: absolute;
    bottom: 20px;
    height: 21px;
    width: 100%;
}

.calendar-container .calendar-right-head .dayname-container .calendar-cell {
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    width: 14%;
    text-align: center;
    float: left;
}

.calendar-container .calendar-right-head .dayname-container .name-of-days {
    padding: 1px;
    background: #bbb;
    font-size: 12px;
    color: #fff;
}

.calendar-container .calendar-right-head .top-calendar-week {
    position: absolute;
    z-index: 100;
    bottom: 0px;
    width: 100%;
    height: 21px;
}


.calendar-container .calendar-right-head .top-calendar-week .day-label {
    color: #777;
    background: #fafafa;
    border-bottom: none;
}

.calendar-container .calendar-right {
    position: absolute;
    top: 0px;
    left: 180px;
    height: 100%;
    width: calc(100% - 180px);
    overflow: auto;
}

.calendar-container .calendar-right .body {
    overflow-y: scroll;
    margin-top: 70px;
    background: #fff;
    display: table;
    width: 100%;
}


.calendar-container .calendar-right .body .calendar-week {
    overflow: hidden;
    position: relative;
    display: table-row;
}

.calendar-container .calendar-right .body .calendar-week .calendar-cell {
    height: 100%;
    display: table-cell;
}

.calendar-container .calendar-right .body .calendar-cell {
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    width: 14.28571%;
    text-align: center;
}

.calendar-container .calendar-right .body .calendar-cell .day-label {
    color: #777;
    position: relative;
    height: 20px;
    border-bottom: 1px solid #f0f0f0;
    background: #fafafa;
}

.calendar-container .calendar-right .body .calendar-cell .day-content {
    min-height: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.calendar-container .calendar-right .body .calendar-cell .day-content .calendar-item {
    padding-right: 5px;
    padding-left: 5px;
}

.calendar-container .calendar-right .body .calendar-cell .day-content>div {
    height: 20px;
}

.calendar-container .calendar-right .body .calendar-cell .day-content>div .company {
    float: left;
    margin-right: 5px;
    font-size: 13px;
    height: 100%;
    width: calc(100% - 20px);
}


.calendar-container .calendar-right .body .calendar-cell .day-content>div .company>div.calendar-label.end {
    background: #3f4b5e;
}

.calendar-container .calendar-right .body .calendar-cell .day-content>div .company>div.calendar-label {
    color: #fff;
    font-size: 10px;
    border-radius: 4px;
    height: 14px;
    width: 14px;
    margin-top: 2px;
    margin-right: 3px;
}
.calendar-container .calendar-right .body .calendar-cell .day-content>div .company>div {
    float: left;
}


.calendar-container .calendar-right .body .calendar-cell .day-content>div .company>div.company-name {
    width: calc(100% - 17px);
    height: 19px;
    overflow: hidden;
    text-align: left;
    line-height: 19px;
    word-break: break-all;
    cursor: pointer;
}

.calendar-container .calendar-right .body .calendar-cell .day-content>div .company>div.company-name>span {
    float: left;
    max-width: 100%;
    overflow: hidden;
}

.calendar-container .calendar-right .body .calendar-cell .day-content>div .favorite {
    float: right;
    cursor: pointer;
    height: 100%;
    padding-top: 2px;
}


.calendar-container .calendar-right .body .calendar-cell .day-content .calendar-item.no-favorite .item-favorite {
    display: none;
}
.calendar-container .calendar-right .body .calendar-cell .day-content>div .favorite img {
    height: 12px;
    vertical-align: top;
}

.calendar-container .calendar-right .body .calendar-cell .day-content>div .favorite img {
    height: 12px;
    vertical-align: top;
}

.calendar-container .calendar-right .body .calendar-cell .day-content .calendar-item {
    padding-right: 5px;
    padding-left: 5px;
}

.calendar-container .calendar-right .body .calendar-cell .day-content>div {
    height: 20px;
}
 
.calendar-container .calendar-right .body .calendar-cell .day-content>div .company>div.calendar-label.end {
    background: #3f4b5e;
}

.calendar-container .calendar-right .body .calendar-cell .day-content>div .favorite img {
    height: 12px;
    vertical-align: top;
}

.calendar-container .calendar-right .body .calendar-cell .day-content>div .favorite img {
    height: 12px;
    vertical-align: top;
}


.calendar-container .calendar-right .body .calendar-cell .day-content>div .company>div.calendar-label.start {
    background: #ff6813;
}

.calendar-container .calendar-left {
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 180px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #d8d8d8;
}

.calendar-container .calendar-left .small-calendar {
    padding: 20px 14px;
}

.calendar-container .calendar-left .small-calendar .small-calendar-title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-container .calendar-left .small-calendar .small-calendar-title .prev, .calendar-container .calendar-left .small-calendar .small-calendar-title .next {
    color: #999;
    cursor: pointer;
    border: 1px solid #ddd;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}
.calendar-container .calendar-left .small-calendar .small-calendar-title .current {
    font-weight: 800;
    color: #ff6813;
}

.calendar-container .calendar-left .small-calendar .dayname-container {
    text-align: center;
    height: calc(20px + 2px + 20px * 6);
}


.calendar-container .calendar-left .small-calendar .dayname-container .day-label {
    float: left;
    height: 20px;
    width: calc(100% / 7);
}
.calendar-container .calendar-left .small-calendar .dayname-container .name-of-days {
    line-height: 20px;
    font-size: 12px;
    background: #f0f0f0;
    margin-bottom: 2px;
}

.calendar-container .calendar-left .small-calendar .dayname-container .days {
    font-family: Helvetica;
    font-size: 12px;
    color: #999;
    padding-top: 1px;
}
.calendar-container .small-calendar .days {
    cursor: pointer;
}
.calendar-container .calendar-left .gg-items {
    margin-top: 20px;
}



/* modal-content */

.jobDetail-div{
display: none;
position: absolute;
/* left:50%;
top:50%;
margin-left:-150px;
margin-top:-150px;  */
}

.employment-slide-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
}

.employment-slide-container .employment-slide.slide-left {
    left: -100%;
}
.employment-slide-container .employment-slide {
    position: absolute;
    transition: left 0.5s;
    will-change: left;
    width: 100%;
}

.employment-modal .modal-dialog {
    width: 750px;
    /* left: -40px; */
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.employment-slide-container .employment-slide .slide-center .navigator.fixed {
    position: fixed;
    left: calc(50% - 505px);
    top: 100px;
}
.employment-slide-container .employment-slide .navigator {
    will-change: margin-left, position;
    transition: margin-left 0.5s;
    position: absolute;
   left: calc(50% - 465px);
    top: 70px;
}

.employment-modal .navigator {
    position: fixed;
    left: calc(50% - 505px); 
    top: 100px;
    width: 90px;
}

.employment-slide-container .employment-slide .slide-center .navigator.fixed {
    position: fixed;
    left: calc(50% - 505px);
    top: 100px;
}


.employment-modal .navigator .nav-btn.active {
    padding-right: 25px;
    font-weight: 700;
    width: 100px;
    margin-left: calc(90px - 100px);
    right: 7px;
    background: #ff6813;
    color: #fff;
    z-index: 100;
}


.employment-slide-container .employment-slide .slide-center {
    left: 0px;
}
.employment-slide-container .employment-slide {
    position: absolute;
    transition: left 0.5s;
    width: 100%;
}


 .modal-content .modal-body{
    padding: 35px 0px;
    padding-bottom: 50px;
}

.employment-modal .modal-dialog .modal-content{
    border: none;
    background: #f0f0f0;
}

.modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
} 
.x-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    height: 15px;
    z-index: 5;
}

.employment-modal .modal-content .modal-body {
    padding: 35px 0px;
    padding-bottom: 50px;
}

.modal-dialog {
	top: 40px;
	left: 50%;
	margin-left: -375px;
	
}


.modal-body {
    position: relative;
    padding: 15px;
}



.employment-modal .modal-dialog .modal-content .modal-body .employment-information {
    margin: 0px 35px 15px;
}
.employment-modal .modal-dialog .modal-content .modal-body>div {
    margin-bottom: 15px;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container {
    position: relative;
    float: right;
    background: #fff;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    border: solid 1px #ddd;
    font-size: 16px;
    margin-bottom: 15px;
}


.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-image {
    position: relative;
    float: left;
    margin-right: 30px;
    width: 90px;
    height: 140px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-image img {
    background: #fff;
    max-width: 90px;
    max-height: 140px;
}
.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info {
    position: relative;
    float: left;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.ec-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content {
    color: #707070;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.ec-name>img {
    margin-left: 5px;
    margin-top: -4px;
    height: 17px;
}
.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .toggle-favorite {
    cursor: pointer;
    height: 15px;
    margin-top: -2px;
}


.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.period {
    font-size: 16px;
    margin-bottom: 15px;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.buttons {
    height: 40px;
    margin-bottom: 10px;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.buttons .ec-wrapper:nth-child(1) {
    padding-left: initial;
    margin-left: initial;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.buttons .ec-wrapper {
    text-align: center;
    float: left;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    border: solid 1px #ddd;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.buttons .ec-wrapper.copy-url {
    position: relative;
}
.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.buttons .ec-wrapper {
    text-align: center;
    float: left;
    width: 120px;
    height: 40px;
    margin-left: 10px;
    border: solid 1px #ddd;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.buttons .ec-wrapper.copy-url .ec-option-image, .employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.buttons .ec-wrapper.copy-url .ec-option-letters {
    display: inline-block;
}
.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.buttons .ec-wrapper .ec-option-letters {
    display: block;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
    color: #999999;
    text-decoration: none;
}


.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .ec-info .ec-info-content.buttons .ec-wrapper.recruit-ref>a {
    color: #ff6813;
    text-decoration: none;
}

/* .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
} */

.employment-modal li {
    display: list-item;
    text-align: -webkit-match-parent;
}
/* 
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
} */
.employment-modal a {
    color: #428bca;
    text-decoration: none;
    background: transparent;
}

.employment-modal small, .small {
    font-size: 85%;
}
.employment-modal small {
    font-size: 80%;
}


.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .count-information {
    color: #999999;
    font-size: 14px;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .count-information .count-item:nth-child(1) {
    padding-left: initial;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .count-information .count-item {
    padding-right: 10px;
    padding-left: 10px;
}
.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .count-information div {
    float: left;
}


.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .count-information .count-item .num {
    font-weight: bold;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .count-information {
    color: #999999;
    font-size: 14px;
}


.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .count-information .vertical-line {
    margin-top: 3px;
    height: 15px;
    border-left: 1px solid #707070;
    width: 1px;
}
.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .count-information div {
    float: left;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-information .ec-info-container .count-information .count-item {
    padding-right: 10px;
    padding-left: 10px;
}
.employment-modal .modal-dialog .modal-content .modal-body .write-resume {
    margin: 0px 35px 10px;
}

.employment-modal .modal-dialog .modal-content .modal-body .write-resume table {
    width: 100%;
    border: solid 1px #ddd;
}


.employment-modal table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}

.employment-modal tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.employment-modal tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.employment-modal .modal-dialog .modal-content .modal-body .write-resume table tbody td.division {
    width: 18%;
}
.employment-modal .modal-dialog .modal-content .modal-body .write-resume table tbody td {
    color: #707070;
    background: #fff;
    font-size: 14px;
    height: 40px;
    border-bottom: 1px solid #f0f0f0;
    border-collapse: collapse;
}

.employment-modal .modal-dialog .modal-content .modal-body .write-resume table th, .employment-modal .modal-dialog .modal-content .modal-body .write-resume table td {
    text-align: center;
    font-size: 14px;
}
.employment-modal td, th {
    padding: 0;
}


.employment-modal .modal-dialog .modal-content .modal-body .write-resume table tbody td:nth-child(2) {
    text-align: left;
}
.employment-modal .modal-dialog .modal-content .modal-body .write-resume table tbody td.field {
    width: 44%;
}
.employment-modal .modal-dialog .modal-content .modal-body .write-resume table th:nth-child(2), .employment-modal .modal-dialog .modal-content .modal-body .write-resume table td:nth-child(2) {
    width: 200px;
}

.employment-modal td {
    display: table-cell;
    vertical-align: inherit;
}

.employment-modal .modal-dialog .modal-content .modal-body .write-resume table tbody td.resume {
    width: 20%;
}
.employment-modal .modal-dialog .modal-content .modal-body .write-resume table tbody td {
    color: #707070;
    background: #fff;
    font-size: 14px;
    height: 40px;
    border-bottom: 1px solid #f0f0f0;
    border-collapse: collapse;
}

.employment-modal .modal-dialog .modal-content .modal-body .write-resume table tbody td.resume .write-resume-button {
    background-color: #fff;
    outline: solid 1px #ff6813;
    color: #ff6813;
    line-height: 29px;
    font-size: 14px;
    padding: 5px 0;
    cursor: pointer;
}


.employment-modal .modal-dialog .modal-content .modal-body .employment-notice {
    position: relative;
}
.employment-modal .modal-dialog .modal-content .modal-body>div {
    margin-bottom: 15px;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-notice .content {
    background: #fff;
}

.employment-modal .modal-dialog .modal-content .modal-body .employment-notice .content img {
    float: none !important;
    position: relative !important;
    max-width: 100% !important;
    height: auto !important;
}
.employment-modal img {
    vertical-align: middle;
      border: 0;
}



/* calendar */

/* 

!
 * FullCalendar v1.6.4 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw

 @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
td.fc-day {

background:#FFF !important;
font-family: 'Roboto', sans-serif;

}
td.fc-today {
	background:#FFF !important;
	position: relative;


}

.fc-first th{
	font-family: 'Roboto', sans-serif;
    background:#9675ce !important;
	color:#FFF;
	font-size:14px !important;
	font-weight:500 !important;

	}
.fc-event-inner {
	font-family: 'Roboto', sans-serif;
    background: #03a9f3!important;
    color: #FFF!important;
    font-size: 12px!important;
    font-weight: 500!important;
    padding: 5px 0px!important;
}

.fc {
	direction: ltr;
	text-align: left;
	}
	
.fc table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	
html .fc,
.fc table {
	font-size: 1em;
	font-family: "Helvetica Neue",Helvetica;

	}
	
.fc td,
.fc th {
	padding: 0;
	vertical-align: top;
	}



Header
------------------------------------------------------------------------

.fc-header td {
	white-space: nowrap;
	padding: 15px 10px 0px;
}

.fc-header-left {
	width: 25%;
	text-align: left;
}
	
.fc-header-center {
	text-align: center;
	}
	
.fc-header-right {
	width: 25%;
	text-align: right;
	}
	
.fc-header-title {
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
}
	
.fc-header-title h2 {
	margin-top: 0;
	white-space: nowrap;
	font-size: 32px;
    font-weight: 100;
    margin-bottom: 10px;
		font-family: 'Roboto', sans-serif;
}
	span.fc-button {
    font-family: 'Roboto', sans-serif;
    border-color: #9675ce;
	color: #9675ce;
}
.fc-state-down, .fc-state-active {
    background-color: #9675ce !important;
	color: #FFF !important;
}
.fc .fc-header-space {
	padding-left: 10px;
	}
	
.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top;
	}
	
buttons edges butting together

.fc-header .fc-button {
	margin-right: -1px;
	}
	
.fc-header .fc-corner-right,  non-theme
.fc-header .ui-corner-right { theme
	margin-right: 0; back to normal
	}
	
button layering (for border precedence)
	
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
	z-index: 2;
	}
	
.fc-header .fc-state-down {
	z-index: 3;
	}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
	z-index: 4;
	}
	
	
	
Content
------------------------------------------------------------------------
	
.fc-content {
	clear: both;
	zoom: 1; for IE7, gives accurate coordinates for [un]freezeContentHeight
	}
	
.fc-view {
	width: 100%;
	overflow: hidden;
	}
	
	

Cell Styles
------------------------------------------------------------------------

    <th>, usually
.fc-widget-content {  <td>, usually
	border: 1px solid #e5e5e5;
	}
.fc-widget-header{
    border-bottom: 1px solid #EEE; 
}	
.fc-state-highlight { <td> today cell TODO: add .fc-today to <th>
	background: #fcf8e3;
}

.fc-state-highlight > div > div.fc-day-number{
    background-color: #ff3b30;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 4px;
}
	
.fc-cell-overlay { semi-transparent rectangle while dragging
	background: #bce8f1;
	opacity: .3;
	filter: alpha(opacity=30); for IE
	}
	


Buttons
------------------------------------------------------------------------

.fc-button {
	position: relative;
	display: inline-block;
	padding: 0 .6em;
	overflow: hidden;
	height: 1.9em;
	line-height: 1.9em;
	white-space: nowrap;
	cursor: pointer;
	}
	
.fc-state-default { non-theme
	border: 1px solid;
	}

.fc-state-default.fc-corner-left { non-theme
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	}

.fc-state-default.fc-corner-right { non-theme
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	}


	Our default prev/next buttons use HTML entities like �� �� 짬 쨩
	and we'll try to make them look good cross-browser.


.fc-text-arrow {
	margin: 0 .4em;
	font-size: 2em;
	line-height: 23px;
	vertical-align: baseline; for IE7
	}

.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow { for �� ��
	font-weight: bold;
	}
	
icon (for jquery ui)
	
.fc-button .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
	}
	
.fc-button .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
	
	*margin-top: 0;
	*top: -50%;
	}


.fc-state-default {
	border-color: #ff3b30;
	color: #ff3b30;	
}
.fc-button-month.fc-state-default, .fc-button-agendaWeek.fc-state-default, .fc-button-agendaDay.fc-state-default{
    min-width: 67px;
	text-align: center;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
	color: #333333;
	background-color: #FFE3E3;
	}

.fc-state-hover {
	color: #ff3b30;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	   -moz-transition: background-position 0.1s linear;
	     -o-transition: background-position 0.1s linear;
	        transition: background-position 0.1s linear;
	}

.fc-state-down,
.fc-state-active {
	background-color: #ff3b30;
	background-image: none;
	outline: 0;
	color: #FFFFFF;
}

.fc-state-disabled {
	cursor: default;
	background-image: none;
	background-color: #FFE3E3;
	filter: alpha(opacity=65);
	box-shadow: none;
	border:1px solid #FFE3E3;
	color: #ff3b30;
	}

	

Global Event Styles
------------------------------------------------------------------------

.fc-event-container > * {
	z-index: 8;
	}

.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
	z-index: 9;
	}
	 
.fc-event {
	border: 1px solid #FFF; default BORDER color
	background-color: #FFF; default BACKGROUND color
	color: #919191;               default TEXT color
	font-size: 12px;
	cursor: default;
}
.fc-event.chill{
    background-color: #f3dcf8;
}
.fc-event.info{
    background-color: #c6ebfe;
}
.fc-event.important{
    background-color: #FFBEBE;
}
.fc-event.success{
    background-color: #BEFFBF;
}
.fc-event:hover{
    opacity: 0.7;
}
a.fc-event {
	text-decoration: none;
	}
	
a.fc-event,
.fc-event-draggable {
	cursor: pointer;
	}
	
.fc-rtl .fc-event {
	text-align: right;
	}

.fc-event-inner {
	width: 100%;
	height: 100%;
	overflow: hidden;
	line-height: 15px;
	}
	
.fc-event-time,
.fc-event-title {
	padding: 0 1px;
	}
	
.fc .ui-resizable-handle {
	display: block;
	position: absolute;
	z-index: 99999;
	overflow: hidden; hacky spaces (IE6/7)
	font-size: 300%; 
	line-height: 50%;
	}
	
	
	
Horizontal Events
------------------------------------------------------------------------

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
	}

.fc-ltr .fc-event-hori.fc-event-start,
.fc-rtl .fc-event-hori.fc-event-end {
	border-left-width: 1px;
	
border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;

	}

.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
	border-right-width: 1px;
	
border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	}
	
resizable
	
.fc-event-hori .ui-resizable-e {
	top: 0           !important; importants override pre jquery ui 1.7 styles
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}
	
.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}
	
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; IE6 had 0 height
	}
	
	
	
Reusable Separate-border Table
------------------------------------------------------------

table.fc-border-separate {
	border-collapse: separate;
	}
	
.fc-border-separate th,
.fc-border-separate td {
	border-width: 1px 0 0 1px;
	}
	
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
	border-right-width: 1px;
	}
	

.fc-border-separate tr.fc-last td {
	
}
.fc-border-separate .fc-week .fc-first{
    border-left: 0;
}
.fc-border-separate .fc-week .fc-last{
    border-right: 0;
}
.fc-border-separate tr.fc-last th{
    border-bottom-width: 1px;
    border-color: #cdcdcd;
    font-size: 16px;
    font-weight: 300;
	line-height: 30px;
}
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
	}
	
	

Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------

.fc-grid th {
	text-align: center;
	}

.fc .fc-week-number {
	width: 22px;
	text-align: center;
	}

.fc .fc-week-number div {
	padding: 0 2px;
	}
	
.fc-grid .fc-day-number {
	float: right;
	padding: 0 2px;
	}
	
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity=30); for IE
	opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem
	}
	
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; distance between events and day edges
	}
	
event styles
	
.fc-grid .fc-event-time {
	font-weight: bold;
	}
	
right-to-left
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
	}
	
.fc-rtl .fc-grid .fc-event-time {
	float: right;
	}
	
	

Agenda Week View, Agenda Day View
------------------------------------------------------------------------

.fc-agenda table {
	border-collapse: separate;
	}
	
.fc-agenda-days th {
	text-align: center;
	}
	
.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
	}

.fc-agenda .fc-week-number {
	font-weight: bold;
	}
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
	}
	
make axis border take precedence
	
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
	}
	
.fc-agenda-days .fc-col0 {
	border-left-width: 0;
	}
	
all-day area
	
.fc-agenda-allday th {
	border-width: 0 1px;
	}
	
.fc-agenda-allday .fc-day-content {
	min-height: 34px; TODO: doesnt work well in quirksmode
	_height: 34px;
	}
	
divider (between all-day and slots)
	
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
	}
	
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
	}
	
slot rows
	
.fc-agenda-slots th {
	border-width: 1px 1px 0;
	}
	
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
	}
	
.fc-agenda-slots td div {
	height: 20px;
	}
	
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
	}
	
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid; doesn't work with background in IE6/7
	}
	


Vertical Events
------------------------------------------------------------------------

.fc-event-vert {
	border-width: 0 1px;
	}

.fc-event-vert.fc-event-start {
	border-top-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	}

.fc-event-vert.fc-event-end {
	border-bottom-width: 1px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}
	
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
	}

.fc-event-vert .fc-event-inner {
	position: relative;
	z-index: 2;
	}
	
.fc-event-vert .fc-event-bg { makes the event lighter w/ a semi-transparent overlay 
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .25;
	filter: alpha(opacity=25);
	}
	
.fc .ui-draggable-dragging .fc-event-bg, TODO: something nicer like .fc-opacity
.fc-select-helper .fc-event-bg {
	display: none\9; for IE6/7/8. nested opacity filters while dragging don't work
	}
	
resizable
	
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; importants override pre jquery ui 1.7 styles
	width: 100%      !important;
	height: 8px      !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
	}
	
.fc-agenda .ui-resizable-resizing { TODO: better selector
	_overflow: hidden;
	}
	
thead tr.fc-first{
    background-color: #f7f7f7;
}
table.fc-header{
    background-color: #FFFFFF;
    border-radius: 6px 6px 0 0;
}

.fc-week .fc-day > div .fc-day-number{
    font-size: 15px;
    margin: 2px;
    min-width: 19px;
    padding: 6px;
    text-align: center;
       width: 30px;
    height: 30px;
}
.fc-sun, .fc-sat{
    color: #b8b8b8;
}

.fc-week .fc-day:hover .fc-day-number{
    background-color: #B8B8B8;
    border-radius: 50%;
    color: #FFFFFF;
    transition: background-color 0.2s;
}
.fc-week .fc-day.fc-state-highlight:hover .fc-day-number{
    background-color:  #ff3b30;
}
.fc-button-today{
    border: 1px solid rgba(255,255,255,.0);
}
.fc-view-agendaDay thead tr.fc-first .fc-widget-header{
    text-align: right;
    padding-right: 10px;
}

!
 * FullCalendar v1.6.4 Print Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw



 * Include this stylesheet on your page to get a more printer-friendly calendar.
 * When including this stylesheet, use the media='print' attribute of the <link> tag.
 * Make sure to include this stylesheet IN ADDITION to the regular fullcalendar.css.

 
 
 Events
-----------------------------------------------------
 
.fc-event {
	background: #fff !important;
	color: #000 !important;
	}
	
for vertical events
	
.fc-event-bg {
	display: none !important;
	}
	
.fc-event .ui-resizable-handle {
	display: none !important;
	}
	
	



 */
