<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.mappers.jobopenMapper">

	<!-- selectList -->

	<select id="jobopenHome" resultType="vo.JobopenVO">
		<![CDATA[ select * from (select * from jobopen order by jobopen_id desc) where  (jobopen_edate>=sysdate) and rownum<=15]]>
	</select>
	<select id="jobopenPopular" resultType="vo.JobopenVO">
		
		<![CDATA[ select jobopen_id ,jobopen_company, jobopen_edate, jobopen_count, round(jobopen_edate-sysdate) endDday from 
		(select * from jobopen order by jobopen_count desc ) where (jobopen_edate>=sysdate) and rownum<=5]]>
	</select>

	<select id="jobopenThisWeek" resultType="vo.JobopenVO">
		<![CDATA[ select jobopen_id ,jobopen_company, jobopen_edate, jobopen_count, round(jobopen_edate-sysdate) endDday from (select j.*, ROW_NUMBER() OVER(order by jobopen_edate asc)rnum from jobopen j 
		where (jobopen_edate>=sysdate) and (jobopen_edate<=(sysdate+6))) where rnum <6]]>
	</select>

	<select id="jobopenDetail" resultType="vo.JobopenVO">
		select * from jobopen
		where jobopen_id=#{jobopen_id}
	</select>


	<select id="jobcategorySelectList" resultType="vo.JobcategoryVO">
		select * from
		jobcategory where jobopen_id=#{jobopen_id}
	</select>
	<select id="writeResumeBtn" resultType="vo.JobqaVO">
		select * from jobqa where
		jc_id=#{jc_id}
	</select>

	<!-- search 기능 -->
	<sql id="jobSearch">
		<if test="jobKeyword!=null">
			 and  jobopen_company like '%' || #{jobKeyword} || '%'
		</if>
	</sql>


	<select id="jobopenMonList" resultType="vo.JobopenVO">
		
		<![CDATA[ SELECT * FROM jobopen WHERE jobopen_sdate >= TO_DATE(#{sdateCheck}) AND jobopen_sdate <= TO_DATE(#{edateCheck})
		or jobopen_edate >= TO_DATE(#{sdateCheck}) AND jobopen_edate <= TO_DATE(#{edateCheck})]]>
	<include refid="jobSearch"></include>
	</select>

	<update id="jobopenCnt">
		update jobopen set jobopen_count=((select jobopen_count from jobopen where
		jobopen_id=#{jobopen_id})+1) where jobopen_id=#{jobopen_id}
	</update>

</mapper>