<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.mappers.memberMapper">

<!-- selectList -->

<select id="selectList" resultType="vo.EmemberVO">
		select * from emember order by emem_id
	</select>
	
	<!-- login -->
	<select id="login" resultType="vo.EmemberVO">
	select * from emember where emem_id=#{emem_id} and emem_pw=#{emem_pw}
	</select>	
	
	<insert id="ememberInsert">
  	insert into emember values(#{emem_id},#{emem_pw},
  	#{emem_name},#{emem_pnum},#{emem_birthd},#{emem_gender})
  	
 	 </insert>
	
	<select id="selectOne" resultType="vo.EmemberVO">
	select * from emember where emem_id=#{emem_id} 
	</select>	
	
	<update id="ememberUpdate">
 	 update member set password=#{password},name=#{name},lev=#{lev},
	 birthd=#{birthd},point=#{point},weight=#{weight},uploadfile=#{uploadfile} where id=#{id}	
  
  </update>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	</mapper>