<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.mappers.memberMapper">


	
	<!-- login -->
	<select id="login" resultType="vo.EmemberVO">
	select * from emember where emem_id=#{emem_id} and emem_pw=#{emem_pw}
	</select>	
	
	<insert id="ememberInsert">
  	insert into emember values(#{emem_id},#{emem_pw},
  	#{emem_name},#{emem_pnum},#{emem_birthd},#{emem_gender})
  	
 	 </insert>
	
	<select id="selectOne" resultType="vo.EmemberVO">
	select * from emember where emem_id=#{emem_id} 
	</select>	
	
	<update id="ememberUpdate">
 	 update emember set emem_pw=#{emem_pw},emem_name=#{emem_name},emem_pnum=#{emem_pnum},
	 emem_birthd=#{emem_birthd} where emem_id=#{emem_id}	
  
  </update>
  
  <insert id="answerInsert">
  insert into inquiry values((select nvl(max(inq_id), 0)+1 from inquiry), #{emem_id}, 
  #{inq_title}, #{inq_content} ,SYSDATE,'대기중',0)
 </insert>
 
	</mapper>