<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.mappers.selflabMapper">

	<!-- selectList -->

	<select id="selflabList" resultType="vo.SelflabVO">
		select * from selflab where
		lab_cat=#{lab_cat} order by lab_id desc
	</select>


	<select id="selflablistAll" resultType="vo.SelflabVO">
		<![CDATA[ select * from (select * from selflab where lab_cat=#{lab_cat} order by lab_id desc) where rownum<=2]]>
	</select>

	<select id="selflabOne" resultType="vo.SelflabVO">
		select * from selflab where
		lab_id=#{lab_id}
	</select>
	<update id="selflabCnt">
		update selflab set lab_count=((select lab_count from selflab where lab_id=#{lab_id})+1) where lab_id=#{lab_id}
	</update>

</mapper>