<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="work.mappers.specMapper">


<!-- selectList 
<select id="specSelectOne" resultType="vo.SpecVO">

		select * from spec where emem_id=#{emem_id} 
		select * from license where spec_id=(select spec_id from spec where emem_id=#{emem_id});
	</select>-->






<select id="specSelectOne" resultType="vo.SpecVO">

select * from spec where emem_id=#{emem_id} 

</select>

<select id="universityList" resultType="vo.SpecUniversityVO">

select * from university where spec_id=(select spec_id from spec where emem_id=#{emem_id})

</select>
<select id="graduateSchList" resultType="vo.SpecGraduateSchVO">

select * from graduateSch where spec_id=(select spec_id from spec where emem_id=#{emem_id})

</select>
<select id="licenseList" resultType="vo.SpecLicenseVO">

select * from license where spec_id=(select spec_id from spec where emem_id=#{emem_id})

</select>
<select id="careerList" resultType="vo.SpecCareerVO">

select * from career where spec_id=(select spec_id from spec where emem_id=#{emem_id})

</select>
<select id="languageList" resultType="vo.SpecLanguageVO">

select * from language where spec_id=(select spec_id from spec where emem_id=#{emem_id})

</select>
<select id="awardsList" resultType="vo.SpecAwardsVO">

select * from awards where spec_id=(select spec_id from spec where emem_id=#{emem_id})

</select>
<select id="overseasList" resultType="vo.SpecOverseasVO">

select * from overseas where spec_id=(select spec_id from spec where emem_id=#{emem_id})

</select>
<select id="experienceList" resultType="vo.SpecExperienceVO">

select * from experience where spec_id=(select spec_id from spec where emem_id=#{emem_id})

</select>
<select id="educationList" resultType="vo.SpecEducationVO">

select * from education where spec_id=(select spec_id from spec where emem_id=#{emem_id})

</select>

<update id="specUpdate">
update spec set spec_pt=#{spec_pt}, spec_name=#{spec_name}, spec_birthd=#{spec_birthd},
spec_gender=#{spec_gender}, spec_num=#{spec_num}, spec_phoneNum=#{spec_phoneNum}, 
spec_email=#{spec_email}, spec_sns=#{spec_sns}, spec_add=#{spec_add}, spec_hsperiod=#{spec_hsperiod},
spec_heperiod=#{spec_heperiod}, spec_hname=#{spec_hname}, spec_hkind=#{spec_hkind}, 
spec_vet=#{spec_vet}, spec_obs=#{spec_obs}, spec_obscontent=#{spec_obscontent}, spec_mil=#{spec_mil},
spec_milsperiod=#{spec_milsperiod}, spec_mileperiod=#{spec_mileperiod}, spec_mildis=#{spec_mildis}, 
spec_rank=#{spec_rank} where spec_id=#{spec_id}
</update>

<insert id="specInsert">
	insert into spec values((select nvl(max(spec_id), 0)+1 from spec),#{emem_id},#{spec_pt},#{spec_name},
	#{spec_birthd},#{spec_gender},#{spec_Num},#{spec_phoneNum},#{spec_email},#{spec_sns},#{spec_add},
	#{spec_hsperiod},#{spec_heperiod},#{spec_hname},#{spec_hkind},#{spec_vet},#{spec_obs},#{spec_obscontent},#{spec_mil},
	#{spec_milsperiod},#{spec_mileperiod},#{spec_mildis},#{spec_rank});
	
</insert>

</mapper>